body, h1, h2, h3, h4, h5, div, span {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #666;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  background-color: #eee;
}

header {
  margin-bottom: 15px;
}

footer {
  margin-top: 300px;
}

code {
  padding: 1px 4px;
  border-radius: 4px;
  background-color: #eaeaea;
}

small {
  font-size: 80%;
}

.muted {
  color: #999;
}
