{{ template "header" }}

  <div id='lame-browser-error' class='alert alert-error hide'>
    Don't be lame. Use a modern browser. How about Firefox or Chrome?
  </div>

  <div id='success-msg' class='alert alert-success hide'>
    Your mapping was successfully created! <a id='new-mapping' href=''>Test it</a>.
  </div>

  <h3>Welcome</h3>

  <div>
    <input id='mapping' type='text' class='input-medium' value="{{.}}" placeholder='mapping'/>
    =&gt; <input id='url' type='text' class='input-xlarge' placeholder='destination URL'/>
    <button id='btn-create' class='btn btn-primary disabled'><i class='icon-white icon-ok'></i> Create</button>
  </div>

  <div id='info'></div>

  <script>
    (function() {
      // A valid mapping is 2+ alphanumeric+'-' chars.
      var validMappingRe = /^[a-zA-Z0-9\-]{2,}$/;
      // A valid URl has to start with http(s)://, ftp:// or (/)file://
      var validUrlRe     = /^(http(s)?|(\/)?file|ftp):\/\//; // TODO: Check spec.

      // UI elems declaration
      var $mapping;
      var $url;
      var $create;
      var $info;

      if(window.addEventListener && window.console) {
        window.addEventListener('load', init, false);
      } else {
        document.getElementById('lame-browser-error').classList.remove('hide');
      }

      function init() {
        $mapping    = document.getElementById('mapping');
        $url        = document.getElementById('url');
        $create     = document.getElementById('btn-create');
        $info       = document.getElementById('info');

        $mapping.focus();
        if($mapping.value != "") {
          checkAvailability();
        }

        var lazyCheckAvailability = debounce(checkAvailability, 750);

        $mapping.addEventListener('keyup', lazyCheckAvailability, false);
        $create.addEventListener('click', submit, false);
      }

      function submit() {
        var mapping = $mapping.value;
        var url     = $url.value;
        if(!$create.classList.contains('disabled')) {
          if(validUrlRe.test(url)) {
            console.log("submitting: " + mapping);

            disable();

            var req = new XMLHttpRequest();
            req.open('PUT', '/mappings/' + mapping, true);
            req.onload = function() {
              switch(req.status) {
                case 200: // Ok
                case 201: // Created
                  console.log('Created!');
                  clearNotify();
                  document.getElementById('success-msg').classList.remove('hide');
                  document.getElementById('new-mapping').href = '/' + mapping;
                  break;
                default:
                  console.log('got else. Something is not right: ' + req.status);
                  break;
              }
            };
            var data = new FormData();
            data.append("url", url);
            req.send(data);
          } else {
            notify('error', '<strong>' + url + '</strong> is not a valid URL.');
            $url.focus();
          }
        }
      }

      function checkAvailability() {
        var mapping = $mapping.value;
        if(validMappingRe.test(mapping)) {
          // Initiate the request
          var req = new XMLHttpRequest();
          req.open('GET', '/mappings/' + mapping, true);
          req.onload = function() {
            switch(req.status) {
              case 404:
                // The resource does not exist. IT IS AVAILABLE.
                console.log('got 404. Resource is avaiable.');
                notify('success', '<code>http://go/' + mapping + '</code> is a valid and available mapping.');
                enable();
                break;
              case 200:
                // The resource exist. It is not available.
                console.log('got 200. Resource is not available');
                notify('warn', '<code>http://go/' + mapping + '</code> already maps to <code>' + req.responseText + '</code>');
                disable();
                break;
              default:
                // Disable all buttons. Something is not right.
                console.log('got else. Something is not right.');
                break;
            }
          };
          req.send(null);
        } else {
          // Notify invalid and disable.
          if(mapping.length > 0) {
            notify('error', 'A valid mapping is 2+ alphanumeric (+`-`) chars');
          }
          disable();
        }
      }

      function enable() {
        $create.classList.remove('disabled');
      }

      function disable() {
        $create.classList.add('disabled');
      }

      // TODO: Maybe change to object notification:
      // Eg. semantics:
      //   var notifications = new Notifications($notifElem);
      //   notifications.show('success', msg);
      //   notifications.clear();
      function notify(type, msg) {
        switch(type) {
          case 'success':
            $info.innerHTML = "<div class='alert alert-success'><i class='icon-ok'></i> " + msg + "</div>"
            break;
          case 'warn':
            $info.innerHTML = "<div class='alert alert-warning'><i class='icon-warning-sign'></i> " + msg + "</div>"
            break;
          case 'error':
            $info.innerHTML = "<div class='alert alert-error'><i class='icon-remove'></i> " + msg + "</div>"
            break;
          default: // info
            $info.innerHTML = "<div class='muted'>" + msg + "</div>";
            break;
        }
      }
      function clearNotify() {
        $info.innerHTML = "";
      }

      // Utility functions

      // See http://underscorejs.org/#debounce doc since this serves the
      // exact same purpose.
      function debounce(func, time) {
        var active = false;
        var ctx = this; // What context do we want it to have?
        return function() {
          if(!active) {
            active = true;
            setTimeout(function() {
              func.apply(ctx, arguments);
              active = false;
            }, time);
          }
        };
      }
    })();
  </script>

{{ template "footer" }}
